@model MvcWearIt.Models.Juego

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenPortada)
        </dt>
        <dd class = "col-sm-10">
            @{
                var esUrl = Model.ImagenPortada != null && (Model.ImagenPortada.StartsWith("http://") || Model.ImagenPortada.StartsWith("https://"));
            }
            @if (esUrl)
            {
                <img src="@Model.ImagenPortada" height="100" />
            }
            else
            {
                var nombreImagen = Model.ImagenPortada ?? "imagen-no-disponible.jpg";
                <img src="~/imagenes/@nombreImagen" height="100" asp-append-version="true" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorHex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorHex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
